<h2>Editar Categoría</h2>

<%= link_to "<i class=\"material-icons\">visibility</i>".html_safe, [:admin, @category] , class: "waves-effect waves-light btn" %> 

<%= render 'form' %>

<%= link_to 'Back', admin_categories_path %>
